# Tuples
- Tuples are similar to lists but are immutable.
- This means that elements inside tuples cannot be changed

### Constructing Tuples

In [1]:
t = (1, 2, 3)

In [2]:
len(t)

3

In [3]:
t = ('one', 2)

In [4]:
t

('one', 2)

In [5]:
t[0]

'one'

In [6]:
t[1]

2

### Tuples Methods

In [12]:
t = ['one', 'two', 1, 2, 3, 3]

In [9]:
t.index('one') #Returns index of value

0

In [10]:
t.index(2)

3

In [11]:
t.count('one') #Returns te number of times the value appears

1

In [13]:
t.count(3)

2

### Tuple Unpacking

In [1]:
lst2 = [(1,2), (3,4), (5,6)]

In [2]:
for tup in lst2:
    print(tup)

(1, 2)
(3, 4)
(5, 6)

In [3]:
for (t1, t2) in lst2:
    print(t1)

1
3
5

In [4]:
for (t1, t2) in lst2:
    print(t2)

2
4
6